/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* { margin: 0; padding: 0; border: 0; word-wrap: break-word; box-sizing: border-box; transition: all .5s; }
ul li { list-style: none; float: left; }
a { text-decoration: none; color: #333; }
label, button, i { cursor: pointer; }
body, body > div { width: 100%; float: left; }