
/*== 헤더관련 ==*/
.header{ width: 100%; background: rgba(0,0,0,0.88); padding-bottom: 15px; padding-top: 15px; }
.header_box{ width: 100%; max-width: 1440px; margin: 0 auto; color: #eeeeee; }

/*== 슬라이더 ==*/
.slider_wrap{ width: 100%; background: aquamarine; margin-bottom: 20px; }
.slider{ width: 100%; max-width: 1440px; margin: 0 auto; }
.slide1{ background: url("../../images/slide1.png") no-repeat; background-size: cover; width: 1440px; height: 600px; }

/*== 배너 ==*/
.banner{ width: 100%; max-width: 1440px; margin: 0 auto;display: flex; justify-content: center }
.banner ul{ width: 100%; display: flex; list-style: none; justify-content: space-between }
.banner ul li{ display: inline-block }

/*== 상품 ==*/
.product{ width: 100%; background: gainsboro; margin-top: 20px }
.product_wrap{ width: 100%; max-width: 1440px;margin: 0 auto; text-align: center;justify-content: center }
.product_wrap .bls{ display:flex; width: 20%; justify-content: space-between; margin: 0 auto; list-style: none; }
.product_content{ display: flex; flex-wrap: wrap }
.product_button{ background: white; width: auto; font-size: .85em; font-weight: bold; padding-inline: 16px; padding-block: 4px; margin-right: 10px }
.product_button_wrap > label:last-child > .product_button{ margin: 0; }
.product_button_wrap{ display: flex; width: 100%; justify-content: center; margin-bottom: 15px }

/*== 하단 ==*/
.bottom_info_wrap{ width: 100%; background-color: black }
.bottom_info_group{ width: 100%; display: flex; justify-content: space-between }
.bottom_info h4{ color: white }
.bottom_info ul li{ color: white; list-style: circle}

/*== 푸터 ==*/
.footer{ width: 100%; background-color: #333333; padding-top: 20px; padding-bottom: 20px }
.footer_wrap{ color: white; display: flex; justify-content: space-between }
.footer_info{ display: flex; justify-content: space-between }
.footer_info div { margin-left: 20px; font-size: .8em }
.footer_info > div:first-child { margin: 0 }

/*== 상품변환 ==*/
#product_all:checked ~ .product_button_wrap > label:nth-child(1) > .product_button,
#product_all:checked ~ .product_button_wrap > label:nth-child(1) > .product_button,
#product_all:checked ~ .product_button_wrap > label:nth-child(1) > .product_button,
#product_all:checked ~ .product_button_wrap > label:nth-child(1) > .product_button {  background: none; border: 1px solid darkorchid }
/*== 공통 플렉스 ==*/
.sb{ display: flex; justify-content: space-between; margin-bottom: 10px;vertical-align: middle }
.sb1{ display: flex; justify-content: space-between; border-top: 1px solid darkgrey; padding-top: 25px;vertical-align: middle }

.fs{ display: flex; justify-content: flex-start }
.ls{ display:flex; list-style: none; }
.ls li::after{ content: "|"; height: 5px; color: #eeeeee; margin: 10px }

.wrap{ width: 100%; max-width: 1440px; margin: 0 auto; position: relative }

